# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Environment variables
.env
.env.*

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Testing / development
src/test_real_problems.py
src/generate_dataset.py
src/generate_quality_dataset.py

# Unnecessary test dataset
data/test_problems.csv